@mixin font-smoothing($value: on) {
  @if $value == on {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  } @else {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: subpixel-antialiased;
  }
}

$color-vanilla: hsla(40, 85%, 76%, 1);
$color-mint: hsla(169, 73%, 38%, 1);
$color-slime: hsla(65, 64%, 65%, 1);
$color-rose: hsla(0, 78%, 61%, 1);
$color-steel: hsla(200, 42%, 17%, 1);
$color-navy: hsla(196, 44%, 12%, 1);
