$color-vanilla: hsla(40, 85%, 76%, 1);
$color-mint: hsla(169, 73%, 38%, 1);
$color-slime: hsla(65, 64%, 65%, 1);
$color-rose: hsla(0, 78%, 61%, 1);
$color-steel: hsla(200, 42%, 17%, 1);
$color-navy: hsla(196, 44%, 12%, 1);

$font-base-text-size: 16px;
$font-Raleway: 'Raleway', sans-serif;
$font-Roboto: 'Roboto', sans-serif;
