@import 'utility';
@import '~font-awesome-animation/dist/font-awesome-animation.min';

html {
  text-size-adjust: 100%;
}

body {
  margin: 0;
  font: $font-base-text-size / 1 $font-Roboto;
  background-color: $color-navy;
  color: hsl(0, 0%, 100%);
}

// Home page

.homePage {
  video {
    display: block;
  }

  #video-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    z-index: -100;
    background: transparent url(../images/runners-frame1.jpg) no-repeat;
    background-size: contain;
  }

  header {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    h1 {
      font-family: $font-Raleway;
      font-size: 3em;
      font-weight: 300;
      text-align: center;
      text-transform: uppercase;
      padding-top: 20vh;
    }

    .stravabutton {
      width: auto;
      align-self: center;
    }

    .explore {
      text-transform: uppercase;
      font-size: 1.25em;
      position: absolute;
      bottom: 30px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 100px;
      text-align: center;

      a.chevron {
        color: inherit;
        font-size: 1.5em;
        filter: drop-shadow(1px 1px 2px $color-navy);
      }
    }
  }

  h2 {
    text-transform: uppercase;
    font-family: $font-Raleway;
    // font-weight: 200;
    font-size: 2em;
  }

  h3 {
    text-transform: uppercase;
    font-family: $font-Raleway;
    font-weight: bold;
    font-size: 1.75em;
  }

  .section {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    &.big {
      padding: 40px 10px 40px 10px;
    }

    &.whatisD4C {
      background-image: url(../images/runner-01.jpg);
      color: $color-slime;
    }

    &.small {
      padding-top: 25px;
      padding-bottom: 25px;
    }

    &.header1 {
      background-image: url(../images/runner-02.jpg);
      color: $color-mint;
    }

    &.header2 {
      background-image: url(../images/runner-03.jpg);
      color: $color-rose;
    }

    &.header3 {
      background-image: url(../images/runner-04.jpg);
      color: $color-vanilla;
    }

    &.header4 {
      background-image: url(../images/runner-01.jpg);
      color: $color-slime;
    }
  }

  section {
    padding-left: 20vw;
    padding-right: 20vw;
    min-height: 100vh;

    p {
      font-weight: lighter;
      line-height: 1.5em;
    }
  }

  a {
    color: inherit;
  }
}

// HomeNavbar and InnerNavbar styling

.navBar {
  background-color: hsla(200, 42%, 17%, 0.75);

  .homeNavUl {
    i {
      padding-left: 15px;
    }
  }

  button {
    background: transparent;
    border-width: 0;
    padding: 0;

    i.fa-bars {
      font-size: 2.5em;
      position: relative;
      padding: 10px;
      color: white;
    }

    i.fa-window-close-o::before {
      font-size: 2.75em;
      color: white;
      background: transparent;
      border-width: 0;
    }

    &.menu {
      opacity: 1;
      transition: opacity 250ms ease;

      &.hidden {
        opacity: 0;
      }

      &:focus,
      &:active {
        outline: none;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: hsla(0, 0%, 20%, 0.9);
    transition: transform 250ms ease;
    width: 66vw;
    height: 100vh;
    z-index: 1;
    transform: translateX(0);

    ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      margin-top: 0;
      background-color: hsla(0, 0%, 69%, 0.75);
      // padding-left: 20vw;
      padding: 10px 10px 10px 20vw;
      text-align: right;

      li {
        padding-bottom: 20px;
        font-family: $font-Raleway;
        text-transform: uppercase;

        &:hover {
          cursor: pointer;
        }
      }

    .icon {
        font-size: 1.5em;
        padding: 5px 7px 0 10px;
        vertical-align: inherit;
      }
    }

    &.hidden {
      transform: translateX(-66vw);
    }

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        color: inherit;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }

  .profilePic {
    position: absolute;
    right: 15px;
    // left: 10px;
    top: -7px;
    background-image: url(../images/Caleb-copy.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    color: transparent;
    height: 30px;
    width: 30px;
    // margin-right: 30px;
    // margin-bottom: 30px;
  }
}

.inner {
  header {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    h1 {
      padding: 40px;
      font-family: $font-Raleway;
      text-transform: uppercase;
      margin: 0;
    }

    &.profile {
      background-image: url(../images/runner-01.jpg);
      color: $color-slime;
    }

    &.group {
      background-image: url(../images/runner-04.jpg);
      color: $color-vanilla;
    }

    &.myGroups {
      background-image: url(../images/runner-02.jpg);
      color: $color-mint;
    }

    &.help {
      background-image: url(../images/runner-03.jpg);
      color: $color-rose;
    }
  }

  .lower {
    padding: 20px;

    h1 {
      font-family: $font-Raleway;
      text-transform: uppercase;
      margin: 0;
    }

    h2 {
      font-family: $font-Raleway;
      font-weight: 400;
    }

    th {
      font-family: $font-Raleway;
      font-weight: 400;
    }

    .fa-circle {
      font-size: 0.75em;
      padding: 0 10px 10px 0;
    }

    td {
      // border: 2px solid $color-rose;
    }
  }
}

$speed: "0.25s";
$transition: all #{$speed} cubic-bezier(0.310, -0.105, 0.430, 1.400);

.add-members-button {
  font-family: $font-Raleway;
  display: block;
  background-color: $color-slime;
  width: 200px;
  height: 25px;
  color: lighten($color-slime, 30);
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  transition: $transition;
  padding-top: 2px;
  margin-bottom: 20px;

  span,
  .icon {
    display: block;
    height: 100%;
    text-align: center;
    position: absolute;
  }

  span {
    width: 72%;
    font-size: 1em;
    text-transform: uppercase;
    left: 0;
    transition: $transition;
    padding-top: 2px;

    &::after {
      content: '';
      background-color: darken($color-slime, 20);
      width: 2px;
      height: 50%;
      position: absolute;
      top: 15%;
      right: -1px;
    }
  }

  .icon {
    width: 28%;
    right: 0;
    transition: $transition;

    .fa {
      font-size: 1em;
      vertical-align: middle;
      transition: $transition, height #{$speed} ease;
      padding-top: 2px;
    }
  }

  &.success,
  &:hover {
    span {
      left: -72%;
      opacity: 0;
      padding-top: 3px;
    }

    .icon {
      width: 100%;

      .fa {
        font-size: 1.2em;
      }
    }
  }
}
