@import 'utility';
@import '~font-awesome-animation/dist/font-awesome-animation.min';

html {
  text-size-adjust: 100%;
}

body {
  margin: 0;
  font: $font-base-text-size / 1 $font-Roboto;
  background-color: $color-navy;
  color: hsl(0, 0%, 100%);
}

video {
  display: block;
}

#video-bg {
  position: absolute;
  right: 0;
  bottom: 0;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  z-index: -100;
  background: transparent url(../images/woman-running.jpg) no-repeat;
  background-size: contains;
}

header {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $color-mint;
  background-image: url(../images/woman-running.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  nav.home-nav {
    ul {
      margin: 0;
      display: flex;
      justify-content: space-around;
      list-style-type: none;
      padding-left: 0;
      background-color: hsla(0, 0%, 69%, 0.75);
      margin-top: 0;
      padding: 10px;
      padding-left: 20vw;
      text-align: right;

      li {
        font-family: $font-Raleway;
        text-transform: uppercase;
      }
    }
  }

  h1 {
    font-family: $font-Raleway;
    font-size: 3em;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
  }

  button {
    width: 20vw;
  }

  .explore {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    text-align: center;
    filter: drop-shadow(2px 2px 2px $color-navy);
  }
}

a.chevron {
  color: inherit;
  font-size: 1.5em;
}

h2 {
  text-transform: uppercase;
  font-family: $font-Raleway;
  // font-weight:
  font-size: 2.5em;
}

h3 {
  text-transform: uppercase;
  font-family: $font-Raleway;
  font-weight: bold;
  font-size: 3em;
}

.section {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

  &.big {
    padding: 40px 10px 40px 10px;
  }

  &.whatisD4C {
    background-image: url(../images/man-on-trail.jpg);
    color: $color-slime;
  }

  &.small {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  &.header1 {
    background-image: url(../images/man-on-trail.jpg);
    color: $color-slime;
  }
}

section {
  padding-left: 20vw;
  padding-right: 20vw;

  // h2,
  // h3, {
  // }

  p {
    font-weight: lighter;
    line-height: 1.5em;
    // letter-spacing: 0.05em;
  }
}
