@import 'utility';
@import '~font-awesome-animation/dist/font-awesome-animation.min';

html {
  text-size-adjust: 100%;
}

body {
  margin: 0;
  font: $font-base-text-size / 1 $font-Roboto;
  background-color: $color-navy;
  color: hsl(0, 0%, 100%);
}

// Home page

.homePage {
  video {
    display: block;
  }

  #video-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    z-index: -100;
    background: transparent url(../images/woman-running.jpg) no-repeat;
    background-size: contain;
  }

  header {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    h1 {
      font-family: $font-Raleway;
      font-size: 3em;
      font-weight: 300;
      text-align: center;
      text-transform: uppercase;
      padding-top: 20vh;
    }

    .stravabutton {
      width: auto;
      align-self: center;
    }

    .explore {
      text-transform: uppercase;
      font-size: 1.25em;
      position: absolute;
      bottom: 30px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 100px;
      text-align: center;

      a.chevron {
        color: inherit;
        font-size: 1.5em;
        filter: drop-shadow(1px 1px 2px $color-navy);
      }
    }
  }

  h2 {
    text-transform: uppercase;
    font-family: $font-Raleway;
    // font-weight: 200;
    font-size: 2em;
  }

  h3 {
    text-transform: uppercase;
    font-family: $font-Raleway;
    font-weight: bold;
    font-size: 1.75em;
  }

  .section {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    &.big {
      padding: 40px 10px 40px 10px;
    }

    &.whatisD4C {
      background-image: url(../images/man-on-trail.jpg);
      color: $color-slime;
    }

    &.small {
      padding-top: 25px;
      padding-bottom: 25px;
    }

    &.header1 {
      background-image: url(../images/couple-on-beach.jpg);
      color: $color-mint;
    }

    &.header2 {
      background-image: url(../images/woman-running.jpg);
      color: $color-rose;
    }

    &.header3 {
      background-image: url(../images/woman-running-trees.jpg);
      color: $color-vanilla;
    }

    &.header4 {
      background-image: url(../images/man-on-trail.jpg);
      color: $color-slime;
    }
  }

  section {
    padding-left: 20vw;
    padding-right: 20vw;

    p {
      font-weight: lighter;
      line-height: 1.5em;
    }
  }

  a {
    color: inherit;
  }
}

// HomeNavbar and InnerNavbar styling

.navBar {
  background-color: $color-steel;

  button {
    background: transparent;
    border-width: 0;
    padding: 0;

    i.fa-bars {
      font-size: 2.5em;
      position: relative;
      padding: 10px;
      color: white;
    }

    i.fa-window-close-o::before {
      font-size: 2.75em;
      color: white;
      background: transparent;
      border-width: 0;
    }

    &.menu {
      opacity: 1;
      transition: opacity 250ms ease;

      &.hidden {
        opacity: 0;
      }

      &:focus,
      &:active {
        outline: none;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: hsla(0, 0%, 20%, 0.8);
    transition: transform 250ms ease;
    width: 66vw;
    height: 100vh;
    transform: translateX(0);

    ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      margin-top: 0;
      background-color: hsla(0, 0%, 69%, 0.75);
      // padding-left: 20vw;
      padding: 10px 10px 10px 20vw;
      text-align: right;

      li {
        padding-bottom: 20px;
        font-family: $font-Raleway;
        text-transform: uppercase;

        &:hover {
          cursor: pointer;
        }
      }

    .icon {
        font-size: 1.5em;
        padding: 5px 7px 0 10px;
        vertical-align: inherit;
      }
    }

    &.hidden {
      transform: translateX(-66vw);
    }

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        color: inherit;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }

  .profilePic {
    position: absolute;
    right: 15px;
    // left: 10px;
    top: -7px;
    background-image: url(../images/Caleb-copy.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    color: transparent;
    height: 30px;
    width: 30px;
    // margin-right: 30px;
    // margin-bottom: 30px;
  }
}

.inner {
  padding: 30px;

  h1 {
    font-family: $font-Raleway;
    text-transform: uppercase;
    margin: 0;
  }
}
